.error-message {
  color: red;
}
span.far.fa-thumbs-up {
  color: red;
  font-size: 20px;
}
span.far.fa-thumbs-down {
  font-size: 20px;
}
i.fa.fa-pencil-square-o,
i.fa.fa-times {
  font-size: 20px;
}
